Package: xyz.gsora.notilog
Name: NotiLog
Depends: mobilesubstrate preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Never miss a notification again! NotiLog logs all the notification your device recives.
Maintainer: Gianguido Sorà
Author: Gianguido Sorà
Section: Tweaks
